language: ruby
bundler_args: --without system_tests
before_install: rm Gemfile.lock || true
script: "bundle exec rake test"
matrix:
  fast_finish: true
  include:
    - rvm: 1.8.7
      env: PUPPET_GEM_VERSION="~> 2.7" FACTER_GEM_VERSION="~> 1.7"
    - rvm: 1.8.7
      env: PUPPET_GEM_VERSION="~> 3.0" FACTER_GEM_VERSION="~> 1.7"
    - rvm: 1.8.7
      env: PUPPET_GEM_VERSION="~> 3.0" FACTER_GEM_VERSION="~> 2.0"
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION="~> 3.0" FACTER_GEM_VERSION="~> 1.7"
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION="~> 3.0" FACTER_GEM_VERSION="~> 2.0"
    - rvm: 2.0.0
      env: PUPPET_GEM_VERSION="~> 4.0" FACTER_GEM_VERSION="~> 2.0"
notifications:
  email: false
  hipchat:
    rooms:
      - secure: "KfJZqW7ns8mifKFIf4cB2bkB0Trn/ahRSpJkMDuoMnqp5C076+8ZJWpt378F\nx1hrgUS6g8Jebnw7BNUZ3jPcFGBoVTPsmR5rXKDPP8nHI6mBzA8XlcGcev9W\n53gHCXx/ygIhD8w0X766rzjeurjhUNHeLeHYhmHjf7q9mLT7qtk="
  on_success: always
  on_failure: always
